@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    background-color: #ff6700;
}

h1 {
    font-family: 'Roboto Slab';
}

#container {
    margin: auto;
    margin-top: 20px;
    display: grid;
    height: 700px;
    width: 400px;
    border: 2px solid black;
    background-color: #383838;
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 137px -9px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 11px 137px -9px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 11px 137px -9px rgba(0, 0, 0, 0.9);
}

#main-grid {
    margin: auto;
    margin-top: 200px;
    display: grid;
    height: 500px;
    width: 400px;
    background-color: #101010;
    grid-template-columns: repeat(4, 1fr);
    position: fixed;
}

#input-tab {
    color: white;
    font-size: 300%;
    font-family: 'Roboto Slab';
    text-align: right;
    padding-top: 145px;
}

.num-item {
    background-color: #101010;
    color: white;
    font-size: 250%;
    font-family: 'Roboto Slab';
}

button {
    padding: 0;
    border: none;
    background: none;
}

button:hover {
    background-color: grey;
    cursor: pointer;
}